html, body{
    margin: 0;
    height: 100%;
}

section{
    background-image: url(../img/q.jpg);
    background-position: center center;  /*imagen alineada horizontal y verticalmente */
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    height: 100%;

}